@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f6fa;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto auto auto;
  padding: 10px 4%;
  background-color: #fff;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logo {
  color: #0290ff;
  font-size: 36px;
  font-weight: bold;
  margin: 15px;
}

/* book styling */

.books {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 4%;
  background: rgb(247, 242, 242);
}

.book {
  width: 90%;
  margin: auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.add-book {
  width: 80%;
  margin: auto;
  padding: 20px 4% 72px 4%;
  background: #fff;
  margin-bottom: 40px;
}

form {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.add-btn {
  background-color: #0290ff;
  color: #fff;
  font-size: 20px;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

.input-text {
  width: 30%;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 200;
}

.action-btn {
  font-family: 'Roboto Slab', serif;
  background-color: transparent;
  border: none;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  align-items: center;
  cursor: pointer;
}

.remove-btn {
  border-left: 2px solid #e8e8e8;
  border-right: 2px solid #e8e8e8;
}

.prog-btn {
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.5px;
  color: #fff;
  border: none;
  height: 35px;
  width: 180px;
  border-radius: 5px;
  cursor: pointer;
}

.book-update {
  padding-left: 40px;
  border-left: 2px solid #e8e8e8;
}

.current {
  font-weight: 300;
  color: #121212;
  margin-bottom: 10px;
}

.chapter {
  margin-bottom: 10px;
  font-size: 1rem;
  letter-spacing: -0.4px;
}

.title {
  font-family: 'Roboto Slab', serif;
  margin-top: 0.188rem;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
}

.author {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.category {
  font-weight: 700;
  color: #121212;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.user {
  width: 40px;
  height: 40px;
  color: #0290ff;
}

.btns {
  margin-top: 15px;
}

.book-prog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.circular-progress {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  position: absolute;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-link {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

.progress-stat {
  font-family: 'Montserrat', sans-serif;
  color: #121212;
  font-size: 2rem;
}

.completed {
  font-size: 0.875rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  color: #121212;
}

.form-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: #888;
}

.categ {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}
